{
  "presets": [["next/babel", {}]],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@c": "./components",
          "@const": "./constants",
          "@s": "./styles",
          "@svg": "./components/svg"
        }
      }
    ]
  ]
}
